* {
    margin: 0;
    padding: 0;
}

#footer li {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-right: 30px;
    margin-top: 20px;
    float: right;
}

/* padding for whole body */
body {
    padding: 15px;
    background-color: beige;
    align-items: center;
    display: block;
}

.image img {
    display: block;
    padding: 20px;
    margin: 0 auto;
}

.content img {
    display: block;
    padding: 20px;
    margin: 0 auto;
}

p {
    text-align: center;
    font-size: 50pt;
}

h2 {
    text-align: center;
    font-size: 80pt;
    padding-top: 20px;
    background-color: lightgreen;
}

h3 {
    text-align: center;
    font-size: 40pt;
}

/* content decoration */
.content {
    display: flexbox;
    background-color: white;


}

 /* styling body */
 .container {
    margin: 0 auto;
}

.container h1 {
    color: black;
    text-align: center;
    border: 3px salmon;
    display: flexbox;
    background-color: lightgreen;
    font-size: 90pt;

}