#footer li {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-right: 30px;
    margin-top: 20px;
    float: right;
}

/* padding for whole body */
body {
    padding: 15px;
    background-color: beige;
    align-items: center;
    display: block;
}